Source: java-service-wrapper
Section: java
Priority: extra
Maintainer: Sebastian Himberger <sebastian@himberger.de>
Build-Depends: debhelper (>= 7), ant, ant-optional, openjdk-6-jdk, cdbs
Standards-Version: 3.8.3
Homepage: http://wrapper.tanukisoftware.com/

Package: java-service-wrapper
Architecture: i386 amd64 
Depends: ${shlibs:Depends}, ${misc:Depends}, dash (>= 0.5), default-jre, libc6 (>= 2.11) 
Description: Native wrapper to run Java programs as a daemon
 This library allows Java programs to run as a unix daemon.
 It is the community version of the Java Service Wrapper.
